@font-face {
  font-family: "Deluce";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/YW1N0D/Skin@main/Deluce.ttf") format("truetype");
}

@font-face {
  font-family: "Deluce";
  font-weight: 400;
  font-style: italic;
  src: url("https://cdn.jsdelivr.net/gh/YW1N0D/Skin@main/Deluce-Italic.ttf") format("truetype");
}
